.icon
  position relative
  bottom -4px
  
  display inline-block
  margin-right 8px
  vertical-align baseline
  
  background-size cover
  
  &--smartphone
    size(15px, 20px)
    background-image svg('smartphone.svg')
  
  &--desktop
    size(21px, 19px)
    background-image svg('desktop.svg')
  
  &--desktops
    size(21px, 21px)
    background-image svg('desktops.svg')
  
  &--refresh
    size(20px, 20px)
    background-image svg('refresh.svg')
  
  &--user
    size(21px, 21px)
    background-image svg('user.svg')
  
  &--chat
    size(22px, 17px)
    background-image svg('chat.svg')
  
  &--stats
    size(21px, 20px)
    background-image svg('stats.svg')
  
  &--tools
    size(21px, 21px)
    background-image svg('tools.svg')
  
  &--gear
    size(22px, 22px)
    background-image svg('gear.svg')
  
  &--smartphones
    size(21px, 21px)
    background-image svg('smartphones.svg')
  
  &--briefcase
    size(21px, 21px)
    background-image svg('briefcase.svg')