mixin hero()
  .hero&attributes(attributes)
    .hero__inner

      h1.hero__title Нупи — оптимизируй просто!
      p.hero__subtitle Лучшее решение для автоматизации работы торгового отдела#[br]по&nbsp;последнему слову техники

      a.hero__button(href=jv0) Скачать на Google Play

      .hero__mockup
        img(src='assets/images/mockup.png' width='1024')
        .hero__icon