mixin content()
  .content&attributes(attributes)
    .content__inner
      .content__row
        .col.col--left
          h2 Мощный комплекс программных услуг 
          p 
            span.icon.icon--smartphone
            | Мобильное приложение для автоматизации работы торговых представителей и супервайзеров под управлением ОС Android. 
          p
            span.icon.icon--desktop
            | Личный кабинет оператора или руководителя торгового отдела, взаимодействующего с торговыми представителями и супервайзерами.
          p
            span.icon.icon--desktops
            | Универсальная и обновляемая онлайн внешняя обработка для учетной системы заказчика.

        .col.col--right(style='height: 530px;')
          img.content__image(src='assets/images/screen1.png' width='845' height='530')
      
    .content__inner
      .content__row
        .col.col--left(style='height: 530px;')
          img.content__image(src='assets/images/screen2.png' width='857' height='530')

        .col.col--right
          h2 Легкая и быстрая интеграция в&nbsp;Ваши бизнес-процессы
          p 
            span.icon.icon--refresh
            | Современные облачные технологии, которые мы применили, разрабатывая Нупи,  позволяют в кратчайшие сроки интегрировать наш программный комплекс в Ваши бизнес-процессы. 
          p
            span.icon.icon--user
            | Теперь для координации работы целого штата полевых сотрудников достаточно одного ответственного менеджера или оператора.

    .content__inner
      .content__row
        .col.col--left
          h2 Взаимодействие&nbsp;сотрудников#[br]Тимбилдинг
          p 
            span.icon.icon--chat
            | Нупи позволяет сотрудникам быть всегда на связи друг с другом. Оперативно ставить персональные и общие задачи коллективу, озвучивать необходимую информацию централизованно, не расходуя средства на мобильную связь. Чат Нупи – отличный инструмент для общения между торговыми представителями, супервайзерами и ответственными менеджерами. 
          
        .col.col--right(style='height: 414px;')
          img.content__image(src='assets/images/screen3.png' width='709' height='414')

    .content__inner
      .content__row
        .col.col--left(style='height: 730px;')
          img.content__image(src='assets/images/screen4.png' width='848' height='730')

        .col.col--right
          h2 Все необходимые#[br]инструменты для бизнеса
          p 
            span.icon.icon--stats
            | С Нупи каждый торговый представитель и супервайзер Вашей организации получает возможность улучшить свои показатели, снизить расходы на аммортизацию и ГСМ, а так же эффективно планировать свой рабочий день, анализируя свои показатели. Мы даем возможность увеличить прибыль Вашего предприятия за счет снижения издержек и рационализации бизнес-процессов.
          p
            span.icon.icon--tools
            | Основными инструментами приложения являются: визит-планер, навигатор с обозначенными на карте контрагентами, презентор, информация об акциях и специальных предложениях, аналитика и многое другое!
          p
            span.icon.icon--gear
            | Нупи постоянно развивается и расширяет свою функциональность. Мы дорабатываем наш программный комплекс, изучая и структурируя

    .content__inner
      .content__row
        .col.col--left
          h2 Экономить выгодно
          p
            span.icon.icon--smartphones
            | Планшетные компьютеры уже давно стали постоянными спутниками современного человека, но теперь с его помощью Вы можете эффективно планировать рабочее время. Быть современным - не роскошь! Наш программный комплекс отлично работает даже на самых дешевых устройствах под управлением ОС Android. Низкие затраты на приобретение планшетов позволяет окупить интеграцию за считанные месяцы. 
          
        .col.col--right(style='height: 452px;')
          img.content__image(src='assets/images/screen5.png' width='602' height='452')

    .content__inner
      .content__row.content__row--sb
        .col.col--left(style='height: 443px;')
          img.content__image.content__image--last(src='assets/images/screen6.png' width='429')

        .col.col--right
          h2 Руководителю и&nbsp;собственнику
          p 
            span.icon.icon--briefcase
            | Внедрение программного комплекса Нупи являет собой антикризисное управление. Высвобождайте денежные и человеческие ресурсы. С нами управление бизнесом станет простым и оперативным для Руководителя, а исполнение своих должностных обязательств сотрудниками станет предсказуемым. Руководители проекта Нупи получили отличную практику работы на дистрибуторском рынке, не понаслышке знакомы со всеми нюансами работы малого и среднего бизнеса в Российской Федерации. Сегодня мы представляем Вашему вниманию программный продукт, вобравший в себя наш опыт успешного управления, основанный на автоматизации бизнес-процессов и рационализации штатного расписания.