$icon-avatar = 40px 40px
$icon-briefcase = 21px 21px
$icon-chat = 21.9px 16.8px
$icon-close = 48px 48px
$icon-desktop = 20.7px 19px
$icon-desktops = 21.3px 21.3px
$icon-gear = 22px 22px
$icon-play = 23.3px 26.9px
$icon-refresh = 20px 20px
$icon-search = 22px 22px
$icon-smartphone = 15px 20px
$icon-smartphones = 21.4px 21.4px
$icon-stats = 21.4px 20.5px
$icon-tools = 20.9px 21px
$icon-user = 21.3px 21px


svgSize($icon)
  width $icon[0]
  height $icon[1]